.toolbar [class*=icono-] {
    color:#bbb;
}
.toolbar .active [class*=icono-] {
    color:#666;
}

div.tabs {
    height: 100%;
}

#home {
    background-image: url("../images/grass.jpg");
    -moz-background-size:cover;
    background-size:cover;
    height: 100%;
}
